rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /users/{userId}/{path=**} {
      allow read: if request.auth.uid == userId;
    }
  }
}
